In [10]:
from blaseball_mike import reference as r
from blaseball_mike.models import Team
import json

In [4]:
p_stats = r.get_stats()

In [12]:
with open("player_stats.json", "w") as f:
    json.dump(p_stats, f)

In [19]:
import pandas as pd

In [23]:
x = [i["stat"] for i in p_stats[0]["splits"]]

In [36]:
hitting_df = pd.DataFrame([[i["player"]["fullName"]]+[i["player"]["id"]]+[i["team"]["team_abbreviation"]]+[i["team"]["team_id"]]+list(i["stat"].values()) for i in p_stats[0]["splits"]], 
                         columns = ["name","id", "team_abb", "team_id"]+list(p_stats[0]["splits"][0]["stat"].keys()))
hitting_df.head()

,name,id,team_abb,team_id,batting_average,on_base_percentage,slugging,appearances,plate_appearances,at_bats,...,batting_average_risp,on_base_slugging,total_bases,hit_by_pitches,ground_outs,flyouts,gidp,stolen_bases,caught_stealing,runs
0,Simon Haley,020ed630-8bae-4441-95cc-0e4ecc27253b,CHST,bfd38797-8404-4b38-8b82-341da28b1f83,0.198,0.261,0.469,99,406,373,...,0.176,0.730,175,0,122,37,0,20,3,38
1,Bennett Browning,03097200-0d48-4236-a3d2-8bdb153aa8f7,CHST,bfd38797-8404-4b38-8b82-341da28b1f83,1.000,1.000,1.000,1,1,1,...,NaN,2.000,1,0,0,0,0,0,0,0
2,Halexandrey Walton,03b80a57-77ea-4913-9be4-7a85c3594745,TACO,878c1bf6-0d21-4659-bfee-916c8314d69c,0.263,0.316,0.576,99,571,528,...,0.329,0.892,304,0,147,157,1,2,4,76
3,Glabe Moon,04931546-1b4a-469f-b391-7ed67afe824c,BOS,3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e,0.226,0.248,0.580,99,290,274,...,0.200,0.828,159,0,107,43,2,14,0,47
4,Stevenson Monstera,05bd08d5-7d9f-450b-abfa-1788b8ee8b91,CHST,bfd38797-8404-4b38-8b82-341da28b1f83,0.000,0.000,0.000,1,1,1,...,NaN,0.000,0,0,1,0,0,0,0,0

In [46]:
# some players may have more than one row (this data describes one season). This is because a player may be Feedbacked
# to another team in the middle of the season. Note that team names are currently bugged when this happens, so the 
# team before and after will have the same name

g1 = hitting_df[["name", "team_abb"]].groupby("name").count()
g1.loc[g["team_abb"] > 1]
#hitting_df.loc[hitting_df["name"] == "NaN"]
# note that "NaN" is an actual player and not an error

                   team_abb
name
Bates Bentley             2
Fletcher Yamamoto         2
NaN                       3

In [106]:
import json
with open("player_stats.json", "r") as f:
    p_stats = json.load(f)
pitching_df = pd.DataFrame([[i["player"]["fullName"]]+[i["player"]["id"]]+[i["team"]["team_abbreviation"]]+[i["team"]["team_id"]]+list(i["stat"].values()) for i in p_stats[1]["splits"]], 
                         columns = ["name","id", "team_abb", "team_id"]+list(p_stats[1]["splits"][0]["stat"].keys()))
import qgrid
q_widget = qgrid.show_grid(pitching_df, show_toolbar=True)
q_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

In [48]:
g2 = pitching_df[["name", "team_abb"]].groupby("name").count()
g2.loc[g2["team_abb"] > 1]

                      team_abb
name
Agan Harrison                2
Edric Tosser                 2
James Mora                   2
Jaylen Hotdogfingers         3
Yeong-Ho Garcia              2

In [49]:
hitting_df.to_csv("hitting.csv", index=False)
pitching_df.to_csv("pitching.csv", index=False)

In [50]:
print(hitting_df.columns)

Index(['name', 'id', 'team_abb', 'team_id', 'batting_average',
       'on_base_percentage', 'slugging', 'appearances', 'plate_appearances',
       'at_bats', 'hits', 'walks', 'singles', 'doubles', 'triples',
       'quadruples', 'home_runs', 'runs_batted_in', 'strikeouts',
       'sacrifice_bunts', 'sacrifice_flies', 'at_bats_risp', 'hits_risp',
       'batting_average_risp', 'on_base_slugging', 'total_bases',
       'hit_by_pitches', 'ground_outs', 'flyouts', 'gidp', 'stolen_bases',
       'caught_stealing', 'runs'],
      dtype='object')

In [61]:
hitting_df["batting_average"].describe().reset_index(drop=True)

0    230.000000
1      0.215057
2      0.153532
3      0.000000
4      0.175000
5      0.224000
6      0.263000
7      1.000000
Name: batting_average, dtype: float64

In [81]:
#for col in hitting_df.columns[4:5]: print(hitting_df[col].describe())
hitting_df.columns
statsframe = hitting_df.drop(columns=["id", "name", "team_abb", "team_id"], axis=1).dropna()

count    195.000000
mean       0.221179
std        0.067541
min        0.000000
25%        0.194000
50%        0.231000
75%        0.263500
max        0.372000
Name: batting_average, dtype: float64
count    195.000000
mean       0.265118
std        0.072293
min        0.000000
25%        0.244000
50%        0.273000
75%        0.305000
max        0.500000
Name: on_base_percentage, dtype: float64
count    195.000000
mean       0.490815
std        0.161807
min        0.000000
25%        0.411500
50%        0.503000
75%        0.593500
max        1.000000
Name: slugging, dtype: float64
count    195.000000
mean      91.882051
std       22.333495
min        1.000000
25%       99.000000
50%       99.000000
75%       99.000000
max       99.000000
Name: appearances, dtype: float64
count    195.000000
mean     366.692308
std      110.099242
min        1.000000
25%      332.000000
50%      377.000000
75%      421.500000
max      578.000000
Name: plate_appearances, dtype: float64

In [94]:
stats_frame = hitting_df.drop(columns=["id", "name", "team_abb", "team_id"], axis=1).dropna()
sum_stats = [stats_frame[col].describe().reset_index(drop=True) for col in stats_frame.columns]
h_summary = pd.DataFrame(sum_stats)
h_summary.columns = ["count", "mean", "std", "min", "25%", "50%", "75%", "max"]
h_summary.round(2)

,count,mean,std,min,25%,50%,75%,max
batting_average,195.0,0.22,0.07,0.0,0.19,0.23,0.26,0.37
on_base_percentage,195.0,0.27,0.07,0.0,0.24,0.27,0.30,0.50
slugging,195.0,0.49,0.16,0.0,0.41,0.50,0.59,1.00
appearances,195.0,91.88,22.33,1.0,99.00,99.00,99.00,99.00
plate_appearances,195.0,366.69,110.10,1.0,332.00,377.00,421.50,578.00
at_bats,195.0,341.97,102.31,1.0,311.50,350.00,397.00,539.00
hits,195.0,79.83,32.04,0.0,63.50,79.00,99.50,172.00
walks,195.0,21.57,11.58,0.0,13.00,20.00,29.00,61.00
singles,195.0,44.26,18.45,0.0,34.00,44.00,55.00,92.00
doubles,195.0,12.86,7.57,0.0,8.00,12.00,17.00,46.00
triples,195.0,7.34,6.40,0.0,2.00,6.00,11.00,35.00
quadruples,195.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00
home_runs,195.0,15.36,9.52,0.0,8.00,14.00,23.00,42.00
runs_batted_in,195.0,43.82,22.17,0.0,30.00,43.00,55.50,120.00
strikeouts,195.0,79.07,42.02,0.0,54.00,75.00,97.50,264.00
sacrifice_bunts,195.0,3.00,2.70,0.0,1.00,2.00,4.00,18.00
sacrifice_flies,195.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00
at_bats_risp,195.0,59.35,21.89,1.0,48.00,59.00,72.00,122.00
hits_risp,195.0,15.32,7.91,0.0,10.00,15.00,19.00,40.00
batting_average_risp,195.0,0.24,0.09,0.0,0.19,0.25,0.32,0.44
on_base_slugging,195.0,0.76,0.23,0.0,0.65,0.78,0.89,1.50
total_bases,195.0,175.04,74.05,0.0,137.50,175.00,216.00,409.00
hit_by_pitches,195.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00
ground_outs,195.0,114.44,43.71,0.0,93.00,114.00,138.00,213.00
flyouts,195.0,54.04,28.64,0.0,34.50,52.00,70.50,157.00
gidp,195.0,1.94,1.74,0.0,1.00,2.00,3.00,10.00
stolen_bases,195.0,9.86,10.84,0.0,3.00,6.00,14.00,64.00
caught_stealing,195.0,1.76,1.51,0.0,1.00,1.00,3.00,7.00
runs,195.0,45.04,19.71,0.0,33.50,43.00,56.00,111.00

In [95]:
stats_frame = pitching_df.drop(columns=["id", "name", "team_abb", "team_id"], axis=1).dropna()
sum_stats = [stats_frame[col].describe().reset_index(drop=True) for col in stats_frame.columns]
p_summary = pd.DataFrame(sum_stats)
p_summary.columns = ["count", "mean", "std", "min", "25%", "50%", "75%", "max"]
p_summary.round(2)

,count,mean,std,min,25%,50%,75%,max
games,106.0,18.72,6.02,2.00,17.00,20.00,20.00,50.00
wins,106.0,9.33,4.46,0.00,7.00,9.00,12.00,23.00
losses,106.0,9.33,4.87,1.00,7.00,8.00,12.00,31.00
win_pct,106.0,0.50,0.19,0.00,0.39,0.50,0.64,0.95
pitches_thrown,106.0,1964.77,699.74,145.00,1719.75,1989.50,2219.25,5562.00
batters_faced,106.0,677.58,232.75,56.00,587.25,692.50,756.50,1894.00
outs_recorded,106.0,505.16,164.48,42.00,453.75,530.00,546.00,1339.00
innings,106.0,168.25,54.81,14.00,151.25,176.50,182.00,446.00
runs_allowed,106.0,81.75,46.05,8.00,52.25,72.00,101.75,307.00
shutouts,106.0,1.37,1.69,0.00,0.00,1.00,2.00,6.00
quality_starts,106.0,8.77,4.66,0.00,6.00,8.00,11.75,22.00
strikeouts,106.0,145.89,69.78,13.00,91.50,138.00,187.25,358.00
walks,106.0,39.82,46.25,0.00,7.00,22.00,51.75,206.00
home_runs_allowed,106.0,28.36,14.22,4.00,20.00,26.50,35.75,107.00
hits_allowed,106.0,147.47,60.35,14.00,118.75,147.50,168.00,464.00
hit_by_pitches,106.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
earned_run_average,106.0,4.38,1.73,1.12,3.21,3.94,5.41,9.93
walks_per_9,106.0,2.15,2.37,0.00,0.42,1.25,3.22,11.06
hits_per_9,106.0,7.89,1.61,4.09,6.58,8.10,8.80,12.70
strikeouts_per_9,106.0,7.78,2.75,2.37,5.84,7.66,9.65,14.33
home_runs_per_9,106.0,1.53,0.54,0.47,1.17,1.45,1.84,3.95
whip,106.0,1.24,0.43,0.50,0.93,1.14,1.52,2.42
strikeouts_per_walk,106.0,34.55,69.15,0.27,1.86,6.32,21.69,358.00

In [ ]:
import numpy as np
from bokeh.plotting import figure
from bokeh.io import output_notebook, show, output_file
from bokeh.models import ColumnDataSource, HoverTool, Panel
from bokeh.models.widgets import Tabs